<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {{ .Site.Title }}
    </title>
    <link rel="icon" type="image/x-icon" href="/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;700&display=swap" rel="stylesheet">

    {{ if .Site.IsServer }}
      {{ $seed := "weqklrjfmnk213409ufasdfhnlk3j4bladsfsl" }}
      {{ $random := delimit (shuffle (split (md5 $seed) "" )) "" }}
      {{
      $style := resources.Get "css/main.css"
      | resources.PostCSS
      | resources.ExecuteAsTemplate (printf "css/main.dev.%s.css" $random) $random
      }}
      <link rel="stylesheet" href="{{ $style.RelPermalink }}">
    {{ else }}
      {{
      $style := resources.Get "css/main.css"
          | resources.PostCSS
          | resources.Minify
      }}
      <link rel="stylesheet" href="{{ $style.RelPermalink }}">
    {{ end }}

    <script>
      window.addEventListener("load", () => {
        const hamburgerButton = document.getElementById("hamburger-button");
        const closeButton = document.getElementById("close-button");
        const navPane = document.getElementById("nav-pane");

        hamburgerButton.addEventListener("click", () => {
          const navPaneRect = navPane.getBoundingClientRect();
          console.log(navPaneRect);
          navPane.style.left = "calc(100% - 200px)";
        });

        closeButton.addEventListener("click", () => {
          navPane.style.left = "100%";
        })
      });
    </script>
  </head>
  <body class="bg-stone-50 font-serif">

    <header class="fixed top-0 w-full h-[60px] bg-stone-100 flex justify-center">
      <div class="w-full h-full max-w-[1000px] px-4 flex items-center">
        <a class="text-xl no-underline" href="/">
          日常つづり場だより
        </a>

        <nav id="nav-pane" class="fixed top-0 left-full h-screen w-[200px] z-50 bg-stone-50 text-sm shadow-lg transition-all md:static md:flex md:grow md:w-auto md:h-full md:flex-row-reverse md:items-center md:shadow-none md:bg-inherit">
          <div class="h-[60px] flex items-center justify-end pr-4 md:hidden">
            <button id="close-button">
              <svg xmlns="http://www.w3.org/2000/svg" height="32" viewBox="0 0 100 100" width="32">
                <path d="M 25 25 L 75 75 M 25 75 L 75 25" fill="none" stroke-width="2" class="stroke-black"/>
              </svg>
            </button>
          </div>
          <a href="https://lp.tuzuriba.com" class="block text-end pr-4 no-underline md:p-0 md:inline">
            日常つづり場→
          </a>
          <a href="/" class="block text-end mt-6 pr-4 no-underline md:hidden">
            トップ
          </a>
          <a href="/about" class="block text-end mt-6 pr-4 no-underline md:inline md:p-0 md:mt-0 md:mr-6">
            このサイトについて
          </a>
        </nav>

        <div class="flex flex-row-reverse grow h-full md:hidden">
          <button id="hamburger-button">
            <svg xmlns="http://www.w3.org/2000/svg" height="32" viewBox="0 0 100 100" width="32">
              <path d="M 20 30 H 80 M 20 50 H 80 M 20 70 H 80" fill="none" stroke-width="2" class="stroke-black"/>
            </svg>
          </button>
        </div>
      </div>
    </header>

    <main class="w-full mt-[60px] flex justify-center">
      <div class="w-full max-w-[1000px] p-4">
        {{ block "main" . }}
          <!-- Main Content -->
        {{ end }}
      </div>
    </main>

  </body>
</html>