<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {{ .Site.Title }}
    </title>
    <link rel="icon" type="image/x-icon" href="/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;700&display=swap" rel="stylesheet">

    {{ if .Site.IsServer }}
      {{ $seed := "weqklrjfmnk213409ufasdfhnlk3j4bladsfsl" }}
      {{ $random := delimit (shuffle (split (md5 $seed) "" )) "" }}
      {{
      $style := resources.Get "css/main.css"
      | resources.PostCSS
      | resources.ExecuteAsTemplate (printf "css/main.dev.%s.css" $random) $random
      }}
      <link rel="stylesheet" href="{{ $style.RelPermalink }}">
    {{ else }}
      {{
      $style := resources.Get "css/main.css"
          | resources.PostCSS
          | resources.Minify
      }}
      <link rel="stylesheet" href="{{ $style.RelPermalink }}">
    {{ end }}

  </head>
  <body class="bg-stone-50 font-serif">

    <header class="fixed top-0 w-full h-[60px] bg-stone-100 flex justify-center">
      <div class="w-full h-full max-w-[1000px] px-4 flex items-center">
        <a class="text-xl no-underline" href="/">
          日常つづり場だより
        </a>

        <nav class="grow h-full flex flex-row-reverse items-center text-sm">
          <a href="https://lp.tuzuriba.com" class="no-underline">
            日常つづり場→
          </a>
          <a href="/about" class="mr-6 no-underline">
            このサイトについて
          </a>
        </nav>
      </div>
    </header>

    <main class="w-full mt-[60px] flex justify-center">
      <div class="w-full max-w-[1000px] p-4">
        {{ block "main" . }}
          <!-- Main Content -->
        {{ end }}
      </div>
    </main>

  </body>
</html>