{{ define "main" }}
  <div class="text-sm">
    {{ range .Ancestors.Reverse }}
      {{ if .IsHome }}
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      {{ else }}
        <span class="inline-block mx-2">&gt;</span>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      {{ end }}
    {{ end }}

    <span class="inline-block mx-2">&gt;</span>
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  </div>

  <h1>{{ .Title }}</h1>
  <div class="text-sm text-stone-500">
    {{ time.Format "2006/1/2" .Date }}
  </div>

  <div class="mt-4">
    {{ .Content }}
  </div>
{{ end }}